:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-grey: #f6f6f6 
}
*{
    box-sizing: border-box;
}
body{
    font-family: "Work Sans",sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
i{
    color: var(--main-color);
    transition-duration: .4s;
}
i:hover{
    transform: translate(0,-10px);
    color: #176B87;
}

/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* End Golobal declarations */
/* start Components */
.specialheading{
    font-size: 90px;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    letter-spacing: -4px;
    margin: 25px 0 0 0;
    cursor: default;
}
.specialheading + p{
    margin-top: -30px;
    text-align: center;
    color: #636262;

}
@media (max-width: 767px) {
    .specialheading {
    font-size: 60px;
    }
    .specialheading + p{
        font-size: 13px;
        margin-top: -20px;
    }
}
/* End Components */
/* Header section */
.header{
    padding: 15px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 70px;
}
.header .logo:hover{
    cursor: pointer;
}
.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #176B87;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition-duration: .3s;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links ul{
    list-style: none;
    padding: 0;
    background-color: #EEEEEE;
    position: absolute;
    right: 0;
    min-width: 200px;
    padding: 10px;
    top: calc(100% + 15px) ;
    display: none; 
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #EEEEEE transparent;
    position: absolute;
    top: -20px;
    right: 5px;
    
}
.header .links ul::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: 200px;
    height:30px;
    top: -30px;
    right: 0;
    
}
.header ul li a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #176B87;
    transition-duration: 0.3s;
}
.header ul li a:hover{
    padding-left: 30px;
    opacity: 0.8;
}
.header ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.header .links:hover ul{
    display: block;
}
/* End Header Section */
/* Start Landing section */
.landingsec{
    background-image: url(../imgs/mountcover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-attachment: fixed; */
}
.landingsec .introsec{
    text-align: center;
    width: 350px ;
    max-width: 100%;
}
.landingsec h1{
    color: var(--main-color);
    font-weight: bold;
    font-size: 55px;
    margin: 0;
}
@media (max-width: 767px) {
    .introsec h1{
        font-size: 45px;
    }
    .introsec p{
        font-size: 15px;
    }
}
/* End Landing section */
/* Start Features section */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-grey);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat h3{
    font-weight: 800;
    margin :30px 0;
}
.features .feat p{
    line-height: 1.6;
    color: #777;
}
.features .container .feat i{
    font-size: 30px;
}
/* End Features section */
/* Start Services section */
.services {
    padding: 60px 0;
    margin :0;
}
.services .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
    grid-gap: 30px;
    margin-top: 80px;
}
.services .srv{
    display: flex;
    margin-bottom: 40px;
}
.services .srv .text{
    flex:1;
}
.services .srv .text h3{
    margin-top: 0;
    margin-bottom: 20px;
}
.services .srv .text p{
    color: #777;
    font-weight: 300;
    line-height: 1.5;
}
.services .srv i{
    flex-basis: 60px;
}
.services .image{
    text-align: center;
    position: relative;
}
.services .image::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .image img{
    width: 260px;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}
.services .image img:hover{
    transform: scale(1.1);
}
@media (max-width: 767px) {
    .services .srv{
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 1199px){
    .services .image{
        display: none;
    }
}
/* End Services section */
/* Start Portfolio Section */
.portfolio{
    padding: 60px 0;
    background-color: var(--section-grey);
}
.portfolio .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .card{
    background-color: white;
}
.portfolio .text{
    padding: 20px;
}
.portfolio .text h3{
    margin: 0;
}
.portfolio .text p{
    line-height: 1.5;
    color: #777;
}
.portfolio .image{
    overflow: hidden;
}
.portfolio .card img{
    max-width: 100%;
    transition-duration: 0.5s;
}
.portfolio .card:hover{
    cursor: pointer;
}
.portfolio .card:hover img{
    transform: scale(1.1);
}
/* End Portfolio Section */
/* Start About Section */
.about{
    padding: 60px 0;
    /* background-color: white; */
}
.about .content{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .image img{
    max-width: 100%;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}
.about .image img:hover{
    transform: scale(1.05);
}
.about .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 80px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .image::after{
    content: "";
    position: absolute;
    /* background-color: var(--main-color); */
    width: 120px;
    height: 250px;
    border-left:80px solid var(--main-color);
    border-bottom:80px solid var(--main-color);
    right: -150px;
    top: -40px;
    z-index: -1;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
.about .image:hover::after {
    transform: rotate(180deg) translate(90px, 10px);
}
.about .text{
    flex-basis: calc(100% - 500px);
}
.about .text p{
    min-width: 250px;
}
.about .text p:first-of-type{
    font-weight: bold;
    line-height: 1.5;
    margin: 40px 0;
}
.about .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .text p:last-of-type{
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}
@media (max-width: 991px){
    .about .container{
        overflow: hidden;
    }
    .about .content{
        flex-direction: column;
        text-align: center;
    }
    .about .image{
        margin: 0 auto;
    }
    .about .image::before{
        /* display: none; */
        width: 60px ;
        height: calc(100% + 60px);
        top: -30px;
        left: -30px;
    }
    .about .image::after{
        /* display: none; */
        width: 80px;
        height: 220px;
        right: -115px;
        top: -40px;
    }
    .about .image:hover::after {
        transform: rotate(180deg) translate(60px, 0);
    }
}
/* End About Section */
/* Start contact Section  */
.contact{
    padding: 60px 0;
    background-color: var(--section-grey);
}
.contact .content{
    padding-top: 60px ;
    text-align: center;
}
.contact .content .label{
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -1px;
    margin-bottom:15px;
}
.contact .content a{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    padding-bottom:20px;
}
.contact .social{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.contact .social i{
    color: var(--secondary-color);
}
.contact .social i:hover{
    /* color: var(--secondary-color); */
    cursor: pointer;
    transform: translate(0);
    opacity: .7;
}
@media (max-width: 767px){
    .contact .content .label{
        font-size: 25px;
    }
    .contact .content a{
        font-size: 25px;
    }
}
/* End contact Section  */
/* Start Footer Section  */
.footer{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 16px;
    font-weight: lighter;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
.footer a{
    text-decoration: none;
}
.footer:hover{
    cursor: default;
}
/* End Footer Section  */
